* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
}

header {
  height: 15%;
  background-color: #21222A;
  align-content: center;
  padding-left: 1rem;
}

header nav {
  color: #71CFF2;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
}

header nav img {
  margin-right: 1rem;
}

main {
  height: 85%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: white;
}

main ul li{
  padding: 1rem;
}

main ul li::marker{
  color: #71CFF2;
  font-size: 1.5rem ;
}